{% extends "base.html" %}

{% block title %} blog titles {% endblock %}

{% block content %}
<div class="row text-center vertical-middlw-sm">
    <h1>Top50</h1>
</div>
<div class="row">
    <div class="col-xs-12 col-md-8">
        <ul>
            {% for movie in movies %}
            <li><a href="{{movie.id}}">{{movie.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-xs-6 col-md-4">
        <h2>垃圾</h2>
        <p>在来一个小垃圾哈哈</p>
        <img width="200px" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1553778560907&di=87ecb23072604e21dcc0230612b67f28&imgtype=0&src=http%3A%2F%2Fb-ssl.duitang.com%2Fuploads%2Fitem%2F201507%2F24%2F20150724182427_rCy4F.thumb.700_0.jpeg">
    </div>
</div>
{% endblock %}
